.App {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  background-image: linear-gradient(to right, rgb(252, 157, 157), red);
  /* background-image: linear-gradient(to right, #0052a2, #000328); */
  color: white;
  width: 100%;
  height: 180px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.title input {
  width: 200px;
  height: 25px;
  border-radius: 4px;
  font-size: 15px;
  padding-left: 8px;
}

.title button {
  border-radius: 4px;
  height: 30px;
  width: 90px;
  margin: 15px;
  background-color: rgb(60, 60, 60);
  color: white;
  border: none;
}
.title button:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}
body {
  /* background-image: linear-gradient(to left, #282c34, #181b1f); */
  background-image: linear-gradient(to right, white, rgb(225, 225, 225));
  margin: 0;
  padding: 0;
}

.display-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.display-section img {
  width: 140px;
}

.display-section h3 {
  margin: 2px;
}

.middle-display {
  background-color: black;
  height: 30px;
  color: black;
}
